body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #757575;
  background: #FFFFFF;
}
.container{
width: 1200px;  
}

@media (min-width: 480px){
  .container{
    max-width: 480px;}
    
  
  .hero{
    background-image: url(../../image/Header_480img.jpg);
  }
}
@media (min-width: 768px) {
    .container{
    max-width: 768px;
}
}
@media (min-width: 1200px) {
    .container{
    max-width: 1200px;
    
}
.header{
  display: flex;
}
}
@media (min-width: 1200px){
  .menu-toggle{
    display: none;
}
.menu-container{
  display: none;
}
}