.portfolio{
    border-bottom: 1px solid #ECECEC;
}
.filter_list{
@extend %list;
display: flex;
justify-content: center;
margin-bottom: 50px;
}
.filter__item{
    margin-right: 8px;

&:last-child{
    margin-right: 0;
}
}
.filter__button{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
font-family: inherit;
text-align: center;
padding: 6px 22px;
letter-spacing: 0.03em;
color:$second-color;
background-color: $background-second;
border: $background-second;
border-radius: 4px;
position: relative;


transition-property: background-color, color, box-shadow;
@extend %transition;

&:hover, 
&:focus{
color: $address-color;
background-color: $logo-color;
cursor: pointer;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

&--all {
    background-color: $logo-color;
    color: $address-color;
}
}