.footer {
    background-color: $background-footer;
    padding-top: 60px;
    padding-bottom: 60px;
   }
   .footer__style{
    display: flex;
    align-items: baseline;
   }
   .footer__standart{
       display: flex;
       align-items: baseline;
   }
.logo__footer{
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: $logo-color;
text-decoration: none;
background-color: $background-footer;

&--style{
    color: $address-color;
}
}
.address{
    margin-top: 20px;
}
.address__list{
   @extend %list;
}
.address__item{

margin-bottom: 9px;

&:last-child{
    margin-bottom: 0;
}
}
.address__link{
text-decoration: none;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: $address-color;
background-color: $background-footer;
transition-property: color;
@extend %transition;

&--contact{
    color: rgba(255, 255, 255, 0.6);
}
&:hover,
&:focus{
    color: $logo-color;
}
}