.project__list{
   @extend %list;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    flex: 1;
        }
   .project__item{
        max-width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
        flex: 2;
        flex-basis: content;
        transition-property: box-shadow;
        @extend %transition;      
    
    &:nth-child(3n)
    {
        margin-right: 0;
    }
    &:nth-last-child(-n+3){
        margin-bottom: 0;
    }
    &:hover, &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}
    .project__link{
        display: block;
        text-decoration: none;
        box-sizing: border-box;
        transition-property: box-shadow, opacity;
        @extend %transition; 
        position: relative;    
    }
   
    
    .project__image{
        display: block;
        max-width: 100%;
        height: auto;
        overflow: hidden;         
    }
   .project__container {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #EEEEEE;
    border-top: 0;
    }
   .project__subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.05em;
    color: $second-color;
    margin-top: 0px;
    margin-bottom: 0;
    }
    
   .project__text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $first-color;
    margin-top: 4px;
    margin-bottom: 0px;
    }
    .project__position{
        overflow: hidden;
        display: block;
        max-width: 370px;
        position: relative;
        transition-property: opacity, transform;
        @extend %transition;
    }
    .project__hover{
        display: block;
        width: 322px;
        height: 168px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: $address-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(100%);
        opacity: 0;
        transition-property: opacity, transform;       
        @extend %transition;
        
    
    .project__link:hover &, 
    .project__link:focus &,
    .project__link:active &{
     opacity: 1;
     transform: translateY(0) translate(-50%, -50%);
    }
}
.project__position::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(33,150,243,0.9);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition-property: opacity, transform;
    @extend %transition;
}
    .project__position:hover::before, 
    .project__position:focus::before,
    .project__position:active::before{
    opacity: 1;
    transform: translateY(0);
    }

    .project__link:hover ::before, 
    .project__link:focus ::before,
    .project__link:active ::before{
     opacity: 1;
     transform: translateY(0);
    }
