.works{
    padding-top: 47px;
    }
    .works__title, .team__title, .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $second-color;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    }
    .works__list, .team__list, .clents__list{
       @extend %list;
        display: flex;
        justify-content: center;
     }
     .work__foto{
        display: block;
        max-width: 100%;
        height: auto; 
        
     }
    .works__item{
        margin-right: 30px; 
        position: relative;  
    
    &:last-child{
        margin-right: 0;
    }
}
    .works__text{
    display: flex;
    width: 100%;
    height: 70px;
    margin: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    line-height: 1.14;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $address-color;
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    }