$first-color: #757575;
$second-color: #212121;
$logo-color:#2196F3;
$social-color: rgba(175, 177, 184, 1);
$background-buttom:#188CE8;
$address-color:#FFFFFF;
$background-first: #E5E5E5;
$background-second:#F5F4FA;
$background-head:#FFFFFF;
$background-footer: #2F303A;